﻿<h1>Add Podcast</h1>

<form method="post" action="@Url.Action("AddPost")">
    <label class="form-label">Feed URL</label>
    <input class="form-control" type="text" name="url"/>
    <br />
    <input class="btn btn-primary" type="submit" value="Add" />
</form>