﻿@model List<PodcastViewModel>

@{
    ViewData["Title"] = "Home Page";
}


<div>
    @foreach(var pod in Model)
    {
        <div >
            <h4><a href="@Url.Action("Podcast", new { id = pod.Id })">@pod.Title</a> (@pod.UnreadCount)</h4>
            <div>Updated: @pod.PublishDate</div>
        </div>
    }
</div>
