﻿@using System.Text.RegularExpressions;
@model PodReader.Data.Podcast

@{
    ViewData["Title"] = "Home Page";
}

@section scripts {
    <script>
        function setPlayer(id) {
            var player = document.getElementById(id + "-player");
            if (player.paused === true) {
                $.ajax({
                    url: "@Url.Action("GetTime", new {podId = Model.Id})&epId=" + id,
                    success: function (result) {
                        player.currentTime = result;
                    }
                });
                player.play();
            }
        }

        function pause(id) {
            var player = document.getElementById(id + "-player");
            player.pause();
            $.ajax({
                url: "@Url.Action("SaveTime", new {podId = Model.Id})&epId=" + id + "&time=" + player.currentTime, 
                success: function (result) {
                }
            });
            var s = document.getElementById(id + "-seconds");
            s.innerText = player.currentTime;
        }

        function markRead(id) {
            $.ajax({
                url: "@Url.Action("read")" + "/" + id,
                success: function (result) {
                    let s = document.getElementById(id + "-ep");
                    s.classList.toggle("unread");
                }
            });
        }
    </script>
}

<div>

    <div>
        <h4>@Model.Title </h4>
        <a href="@Url.Action("ReadAll", new {Id = Model.Id})"><input class="btn btn-primary" type="button" value="Mark All Read" /></a>
        <a href="@Url.Action("Edit", "Podcast", new {Id = Model.Id})"><input class="btn btn-secondary" type="button" value="Edit" /></a>
        <a href="@Url.Action("Remove", "Podcast", new {Id = Model.Id})"><input class="btn btn-danger" type="button" value="Remove" /></a>

        @foreach (var ep in Model.Episodes.OrderByDescending(x => x.PublishDate))
        {
            <div id="@ep.Id-ep" class="p-3 m-2 @(ep.Read ? "read" : "unread")">
                <div><strong>@ep.Title</strong></div>
                <span class="text-primary" style="cursor:pointer;" onclick="markRead(@ep.Id);">Mark Read</span>
                <div>@Regex.Replace(@ep.Description ?? string.Empty, "<.*?>", String.Empty)</div>
                <div>@ep.PublishDate.Value.ToShortDateString()</div>
                <div>Played: <span id="@ep.Id-seconds">@(ep.Seconds ?? 0) </span> seconds</div>
                <span class="text-primary" style="cursor:pointer;" onclick="setPlayer(@ep.Id)">Play</span> -
                <span class="text-primary" style="cursor:pointer;" onclick="pause(@ep.Id)">Pause</span>
                <div>
                    <audio controls id="@ep.Id-player">
                        <source src="@ep.Url" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </div>
            </div>

        }
    </div>
    
</div>
